$ORIGIN zone.matrix.
@   IN  SOA  hideo.matrix. zone.matrix. (
    2017042745 ; serial
    7200       ; refresh (2 hours)
    3600       ; retry (1 hour)
    1209600    ; expire (2 weeks)
    3600       ; minimum (1 hour)
    )
@   3600 IN NS hideo.matrix.

hideo.matrix IN A 192.168.0.34
