body {
	margin: auto;
	padding-right: 1em;
	padding-left: 1em;
	max-width: 100em;
	border-left: 1px solid black;
	border-right: 1px solid black;
	color: black;
	font-family: sans-serif, serif;
	font-size: 100%;
	line-height: 140%;
}
pre {
	border: 1px dotted gray;
	background-color: #ececec;
	color: #111111;
	padding: 0.5em;
}
code {
	font-family: monospace;
}
h1 {
	font-size: 130%;
}
h2 {
	font-size: 110%;
}
h3 {
	font-size: 95%;
}
h4 {
	font-size: 90%;
}
h5 {
	font-size: 90%;
}









